.slider-store-image {
    height: 3em;
}
@media (max-width: 768px) {
    .slider-store-image {
        width: 10em;
        height: auto;
    }
.footer-form-card{
        border: 1px solid #f0f0f5;
        border-radius: 0.8em;
        max-width: 40em;
        background-color: transparent;
        font-size: 16px;
        padding: 4em 2em 2em 2em;
    }
}